.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 935px) {
  .header__logo {
    margin-bottom: 32px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 104px;
  }
}