.profile__profession {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
  }
}