.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  margin-top: 51px;
  margin-bottom: 66px;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 898px) {
  .elements {
    max-width: 581px;
    margin-right: auto;
    margin-left: auto;
  }
}