.profile__avatar-contaner {
  position: relative;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
}

.profile__avatar-contaner:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../../images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2A2C2F;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
}

.profile__avatar-contaner:hover:before {
  z-index: 1;
  opacity: 0.8;
  transition: opacity 1s;
}