.element__delete{
  position: absolute;
  background-image: url(../../../images/delete-element.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 18px;
  height: 19.3px;
  right: 15px;
  top: 18px;
  cursor: pointer;
  border: none;
  transition: opacity 1s linear;
}

.element__delete:hover {
  opacity: .5;
}

.element__delete:focus{
  outline: none;
}