.profile__info {
  display: grid;
  grid-template-columns: minmax(284px, max-content) 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  row-gap: 16px;
  column-gap: 18px;
  align-items: center;
  max-width: 500px;
  margin-right: auto;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-columns: minmax(189px, max-content) 1fr;
    margin-top: 26px;
    margin-bottom: 36px;
    row-gap: 10px;
    column-gap: 14px;
    margin-left: auto;
  }
}