.profile__edit-botton {
  border: 1px solid #fff;
  width: 22px;
  height: 22px;
  background-image: url(../../../images/edit-botton.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: black;
  padding: 0;
  transition: opacity 1s linear;
}

@media screen and (max-width: 768px) {
  .profile__edit-botton {
    width: 16px;
    height: 16px;
  }
}

.profile__edit-botton:hover{
  opacity: .7;
}